<section>
    <app-navbar></app-navbar>
</section>

<section class="container-fluid p-0 align-items ">
    <div class="row">
        <div class="col-2">
            <app-coleccion></app-coleccion>
        </div>
        <div class="col-6 align-items">
            <div class="col-12 mt-3 mb-3">
              <app-popup-proveedor [categorias]="categorias"></app-popup-proveedor>  
            </div>
            <div *ngFor="let proveedor of proveedores" class="align-items">
                <app-proveedor [proveedor]="proveedor"></app-proveedor>
            </div>
        </div>
        <div class="col-4">
            <app-lista></app-lista>
        </div>
    </div>
</section>