<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <!--BOTON DE LOGO-->
    <div class="container-fluid">
        <a class="navbar-brand" [routerLink]="['/productos-screen']">
            <img src="../../../assets/Tiburon blanco.png" alt="" width="55" height="54" class="d-inline-block align-text-top">
        </a>

        <div class="" id="navbarColor01">
            <ul class="navbar-nav mb-2 mb-lg-0 list-group-horizontal" id="navbar">

                <!--boton de Productos-->
                <li class="nav-item btn-dark ms-4">
                    <a class="nav-link active" aria-current="page" [routerLink]="['/productos-screen']">Productos</a>
                </li>

                <!--boton de Proveedor-->
                <li class="nav-item btn-dark ms-4">
                    <a class="nav-link active" aria-current="page" [routerLink]="['/proveedores-screen']">Proveedor</a>
                </li>

                <!--boton de Ventas-->
                <li class="nav-item btn-dark ms-4">
                    <a class="nav-link active" [routerLink]="['/ventas-screen']">Ventas</a>
                </li>
                
                <!--boton de Gastos-->
                <li class="nav-item btn-dark ms-4">
                    <a class="nav-link active" [routerLink]="['/gastos-screen']">Gastos</a>
                </li>
                
                <!--boton de Exportar productos-->
                <li class="nav-item btn-dark ms-4">
                    <a class="nav-link active" [routerLink]="['']">Exportar productos</a>
                </li>
            
                <!--boton de Importar productos-->
                <li class="nav-item btn-dark ms-4">
                    <a class="nav-link active" [routerLink]="['']">Importar productos</a>
                </li>

                <!--boton Cerrar sesion-->
                <li class="nav-item btn-dark mx-4">
                    <a class="nav-link active" [routerLink]="['/inicio-screen']">Cerrar sesion</a>
                </li>

            </ul>
        </div>
    </div>
</nav>