<div id="proveedor" class="d-flex flex-row">
  <div class="card bg-primary mb-2 p-2 col-6 me-2">
    <div class="card-body m-1">
      <button (click)="delete()" class="btn btn-primary bg-gradient border-secondary float-end" type="button">❌</button>
      <button (click)="edit()" class="btn btn-primary bg-gradient border-secondary float-end me-3" type="button" data-bs-toggle="modal" data-bs-target="#proveedorModal">📝</button>
      <h2 class="card-title">{{proveedor.nombre}}</h2>
      <p class="card-text">Email: {{proveedor.email}}</p>
      <p class="card-text">Telefono: {{proveedor.telefono}}</p>
      <p>
        <button (click)="insumoBtn()" class="btn border border-primary" type="button">
          Insumos
        </button>
      </p>
    </div>
  </div>
  <div *ngIf="insumoFlag" class="p-2 col-6 card bg-primary mb-2">
    <div class="card-body m-1">
      <h2 class="card-title">Insumos:</h2>
      <ul *ngFor="let insumo of proveedor.insumos">
        <li>{{insumo.nombre}} ${{insumo.precio}}</li>
      </ul>
    </div>
  </div>
</div>

