<div id="ingresar" class="card bg-primary text-white" style="width: 25rem;margin:4% 35%;">
    <div class="card-body">
        <h5 class="Ingresar text-center">Inicar sesión</h5>

        <!-- imput de Usuario -->
        <div id="usuario">
            <input type="text" class="form-control">
            <p class="card-text">Usuario</p>
        </div>

        <!-- imput de contraseña -->
        <div id="clave">
            <input type="password" class="form-control">
            <p class="card-text">Clave</p>
        </div>

        <!-- Boton de aceptar -->
        <div class="text-center">
            <button type="button" class="btn btn-dark">Iniciar</button>
        </div>
    </div>
</div>
