<div id="lista" class="bg-primary">
    <div id="carta">
        <table class="table-primary">
            <tbody>
                <app-venta *ngFor="let venta of colaVenta" [venta]="venta"></app-venta>
            </tbody>
            <tfoot>
                <p></p>
            </tfoot>
        </table>
    </div>
    <div>
        <button (click)="cancelarVenta()" class="btn btn-dark bg-gradient border-dark mt-3" style="float: right;">Cancelar</button>
        <button class="btn btn-dark bg-gradient border-dark mt-3" style="float: left;">Comprar</button>
    </div>
</div>