<section>
    <app-navbar></app-navbar>
</section>

<section class="container-fluid p-0 align-items ">
    <div class="row">
        <div class="col-2">
            <app-coleccion ></app-coleccion>
        </div>
        <div class="col-8 pt-3 ">
            <!--manda la señal al recibir los datos de crear un nuevo producto-->
            <div class="col-12 mb-3">
                <app-popup-producto (subirProducto)="modalProducto($event)"></app-popup-producto>
            </div>
            <!--estructura donde se mantienen los productos creados-->
            <div class="container align-items-center">
                <div class="row">
                    <div *ngFor="let tarjetaProducto of productos " class="col-12 col-lg-4">
                        <app-tarjeta-producto [tarjetaProducto]="tarjetaProducto"></app-tarjeta-producto>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-2">
            <app-lista></app-lista>
        </div>
    </div>
</section>